.background-top{
	background: #8BF38A;
	height: 210px;
	padding: 10px;
}

.banner{
	overflow: hidden;
	height: 200;
	background: #B3F82D;
	background-image: url(karot4.jpg);
	overflow: hidden;
	font-family: 'Indie Flower', cursive;
}

.name{
	background: #8BF38A;
	font-size: 35;
	float left;
	height:200;
	width: 210;
}

.logo{
	width: 150;
	height:200;
}
title{

}

body{
	background: #F5F5F5;
}

.about{

	float:left;
	font-size: 20px;
}
.leftBlock{
	float: left;
	width: 500;
	margin: 10px 10px;
	background: white;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-color: #3E6E3E; 
}

.middleBlock{
	float: left;
	width: 300;
	margin: 10px 10px;
	background: white;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-color: #3E6E3E;
}

.rightBlock{
	float: right;
	width: 300px;
	margin: 10px 10px;
	border: true;
	background: white;
	border-style: solid;
	border-width: 2px;
	border-color: #3E6E3E; 
}

h2{
	text-align: center;
}

form{
	padding: 0% 30%;
}

h5{
	font-size: 20px;
}

.karot{
	width:200px;
	height: 200px;
	padding: 20px 50px;
}

button{
	margin: 10px 40%;
}

#footer{
	float: left;
	position: fixed;
	bottom: 0;
}

#footer > li {
	display: inline;
	border-left: solid 1px;
	padding:0 10px;


}
#footer >li.namefooter {
	float: left;
	border-left: none;
}

#loginheader{
	  font-family: 'Do Hyeon', cursive;

}
